<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{%block title%}{%endblock%}DJANGO Chat</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <style>
        .chat-messages{
            height: 400px;
            overflow-y: auto;
        }
    </style>
</head>
<body class="bg-sky-200">
    <nav class="flex items-center justify-between px-4 py-6 bg-sky-600">
        <div>
            <a href="/" class="text-xl text-white">Welcome to Chat Room!</a>
        </div>
        <div class="flex items-center space-x-4">
            {%if user.is_authenticated%}
            <p class="text-white">Hey {{user.username}}!</p>
            <a href="rooms" class="text-white hover:text-gray-200">Rooms</a>
            <a href="logout" class="px-5 py-3 rounded-xl text-white bg-sky-200 hover:bg-sky-500">Logout</a>
            {%else%}
            <a href="login" class="text-white hover:text-gray-200">Login</a>
            <a href="signup" class="px-5 py-3 rounded-xl text-white bg-sky-200 hover:bg-sky-500">Sign Up</a>
            {%endif%}
        </div>
    </nav>

    {% block content%}

    {% endblock %}

    {% block scripts%}

    {% endblock %}
</body>
</html>